@model Link
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<audio autoplay>
    <source src="@Model.SoundLinks" type="audio/mpeg" />
</audio>

<img class="center-block ImageBorder" src="@Model.ImageLinks" width="300" height="200" />


<p><br /></p>
<p><br /></p>

<div class="ParaBorder">
    <p>
        @Model.Texts
    </p>
</div>

<p><br /></p>
<p><br /></p>

<div>
    <hr />
    <footer>
        @Html.ActionLink($"{Model.OptionOne}", "Intro", new { pageWanted = Model.OptionOne }) @Html.ActionLink($"{Model.OptionTwoText}", "Intro", new { pageWanted = Model.OptionTwo})
    </footer>
</div>



